<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi' Fashion | Tienda Femenina</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="inicio.html">
                <img src="../static/img/logo.png" alt="Desi' Fashion">
            </a>
        </div>
        <nav class="nav-menu">
            <a href="#catalogo">Catálogo</a>
            <a href="nosotras.html">Nosotras</a>
            <a href="carrito.html" class="cart-link">
                <img src="../static/img/carrito.svg" alt="Carrito" class="carrito-img">
            </a>
        </nav>
    </header>

    <body class="container">
        <main class="main-content">
            <header class="editorial-header">
                <p class="subtitle">COLECCIÓN 2026</p>
                <h2 class="main-title">Nuevas Llegadas</h2>
            </header>

            <section class="editorial-gallery">
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/6079ad5a006cec0ee06200f7/2:3/w_1600,c_limit/mujer-con-cabello-corto-rubio-y-blazer-lila.jpg" alt="Editorial 1">
                        <div class="overlay">
                            <a href="#">VER TOPS</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src ="https://media.vogue.mx/photos/60741e9959d9c11df252faa9/master/w_1600,c_limit/Falda-plisada-midi-lavanda-cinturo%CC%81n-Mango.jpg" alt="Editorial 2">
                        <div class="overlay">
                            <a href="#">VER TODO</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/608bbf41a62a0ee62b1b4888/master/w_1600,c_limit/Oscar-De-La-Renta-Fall-21-Color-lila.jpg" alt="Editorial 3">
                        <div class="overlay">
                            <a href="#">ACCESORIOS</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/5e57f3ded0faee0008a8e73f/master/w_1600,c_limit/Vestirse-de-morado-dia-internacional-de-la-mujer-10.jpg" alt="Editorial 4">
                        <div class="overlay">
                            <a href="#">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
</body>
<script src="../static/js/main.js"></script>