<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi' Fashion | Tienda Femenina</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="inicio.html">
                <img src="../static/img/logo.png" alt="Desi' Fashion">
            </a>
        </div>
        <nav class="nav-menu">
            <a href="#catalogo">Catálogo</a>
            <a href="nosotras.html">Nosotras</a>
            <a href="carrito.html" class="cart-link">
                <img src="../static/img/carrito.svg" alt="Carrito" class="carrito-img">
            </a>
        </nav>
    </header>

    <body class="container">
        <main class="main-content">
            <header class="editorial-header">
                <p class="subtitle">COLECCIÓN 2026</p>
                <h2 class="main-title">Nuevas Llegadas</h2>
            </header>

            <section class="editorial-gallery">
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/6079ad5a006cec0ee06200f7/2:3/w_1600,c_limit/mujer-con-cabello-corto-rubio-y-blazer-lila.jpg" alt="Editorial 1">
                        <div class="overlay">
                            <a href="#">VER TOPS</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src ="https://media.vogue.mx/photos/60741e9959d9c11df252faa9/master/w_1600,c_limit/Falda-plisada-midi-lavanda-cinturo%CC%81n-Mango.jpg" alt="Editorial 2">
                        <div class="overlay">
                            <a href="#">VER TODO</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/608bbf41a62a0ee62b1b4888/master/w_1600,c_limit/Oscar-De-La-Renta-Fall-21-Color-lila.jpg" alt="Editorial 3">
                        <div class="overlay">
                            <a href="#">ACCESORIOS</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-column">
                    <div class="image-wrapper">
                        <img src="https://media.vogue.mx/photos/5e57f3ded0faee0008a8e73f/master/w_1600,c_limit/Vestirse-de-morado-dia-internacional-de-la-mujer-10.jpg" alt="Editorial 4">
                        <div class="overlay">
                            <a href="#">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="catalog-preview">
                <div class="editorial-header">
                    <span class="subtitle">Curated Collection</span>
                    <h2 class="main-title">New Arrivals</h2>
                </div>

                <div class="product-grid">
                    <div class="product-card">
                        <div class="product-image">
                            <span class="badge">Nuevo</span>
                            <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?q=80&w=1000" class="img-main">
                            <img src="https://i.pinimg.com/videos/thumbnails/originals/fb/e4/f2/fbe4f239435d2fc97e30ead938de6122.0000000.jpg" class="img-hover">
                        </div>
                        <div class="product-info">
                            <h3>Top Minimalist Lila</h3>
                            <p class="price">S/ 89.00</p>
                            <div class="quick-add-outside">
                                <button>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="product-image">
                            <img src="https://images.pexels.com/photos/22590873/pexels-photo-22590873.jpeg" class="img-main">
                            <img src="https://images.unsplash.com/photo-1509631179647-0177331693ae?q=80&w=1000" class="img-hover">
                        </div>
                        <div class="product-info">
                            <h3>Vestido Editorial</h3>
                            <p class="price">S/ 149.00</p>
                            <div class="quick-add-outside">
                                <button>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="product-image">
                            <img src="https://media.istockphoto.com/id/1701790110/es/foto/serie-de-fotos-de-estudio-de-una-joven-modelo-femenina-con-un-hermoso-atuendo-simple-blusa-de.jpg?s=612x612&w=0&k=20&c=UrJwGELnWWz09xklDf-UxdSqx_D30552YyEF-8D5SS0=" class="img-main">
                            <img src="https://dmellizas.com/cdn/shop/files/1_2ec0ddfb-8d06-494b-a18c-0db6eb3d5c7e.png?v=1743206366&width=1445" class="img-hover">
                        </div>
                        <div class="product-info">
                            <h3>Blusa Seda Dream</h3>
                            <p class="price">S/ 119.00</p>
                            <div class="quick-add-outside">
                                <button>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
</body>
<script src="../static/js/main.js"></script>    

<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-column brand">
            <div class="footer-logo-container">
                <img src="../static/img/logo.png" alt="Boutique Logo" class="footer-mini-logo">
            </div>
            <p>Redefiniendo el estilo femenino con piezas exclusivas y elegancia atemporal.</p>
            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Tienda</h3>
            <ul>
                <li><a href="#">Colección Actual</a></li>
                <li><a href="#">Lo más vendido</a></li>
                <li><a href="#">Novedades</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Soporte</h3>
            <ul>
                <li><a href="#">Guía de Tallas</a></li>
                <li><a href="#">Envíos & Entregas</a></li>
                <li><a href="#">Cambios y Devoluciones</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <div class="footer-column newsletter">
            <h3>Newsletter</h3>
            <p>Sé la primera en enterarte de nuevos lanzamientos y eventos exclusivos.</p>
            <form class="newsletter-form">
                <input type="email" placeholder="E-mail">
                <button type="submit">UNIRSE</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Desi' Fashion - Hecho con amor para la mujer moderna.</p>
        <p>Pagina desarrollada por <a href="#">Daniel Pachas</a></p>
    </div>
</footer>  