<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi' Fashion | Contacto</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>  
    <div class="logo">
            <a href="inicio.html">
                <img src="../static/img/logo.png" alt="Desi' Fashion">
            </a>
        </div>
        <nav class="nav-menu">
            <a href="#catalogo">Catálogo</a>
            <a href="nosotras.html">Nosotras</a>
            <a href="carrito.html" class="cart-link">
                <img src="../static/img/carrito.svg" alt="Carrito" class="carrito-img">
            </a>
        </nav>
</html>